{% extends 'back/base.html.twig' %}

{% block title %} Création d'un administrateur {% endblock %}

{% block body %}
    <main>
        <div class="container mt-5 ">
            <div>
                <div class="col-md-12 bg-body-tertiary border p-3 text-center rounded">
                    <h2 class="text-muted fw-bold p-2"> Création d'un administrateur </h2>
                </div>
            </div>
        <div class="container mt-5">
            <div class="row justify-content-between">
                <div class="col-md-12 bg-body-tertiary border p-4 me-4 rounded">
                <p class="mb-4 text-danger"><i>* Champs obligatoires </i></p>

                    {{ form_start(formCreateAdmin, {'attr': {'novalidate': 'novalidate'}}) }}  

                    {{ form_widget(formCreateAdmin) }}

                    {{ form_end(formCreateAdmin) }}
                    
                </div>
            </div>
        </main>
{% endblock %}