{% extends 'base.html.twig' %}

{% block title %}La page demandée est introuvable.{% endblock %}

{% block body %}
<main class="bg-purple">    
    <div class="stars">
        <div class="central-body">
            <!--<img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">-->
            <h1 class="text-white">Erreur 404</h1>
            <h4 class="text-white">La page demandée est introuvable.</h4>
            <a href={{ path('app_front_main_home') }} class="btn btn-primary mt-3" target="_blank">Retour à la page d'accueil</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
</main>
{% endblock %}